.header {
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    background: lightblue;
}

.logo {
    text-decoration: none;
    color: black;
}

.addBtn {
    text-decoration: none;
    color: black;
}