.header {
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    background: lightblue;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.addBtn {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 10px 30px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    background: lightblue;
}

.addBtn:hover {
    background: #8ab3c1;
}

.addBtn:active {
    box-shadow: inset 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
}